
.heading {  
    padding-top: 1vw;  
    text-align: center;
}

body {
    background-color: lightblue;
    font-family: 'Garamond', serif;
    font-size: 1rem;
    background-image: url(./src/SeamlessLeafBackground.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}


.container {
    padding-bottom: 1vw;
    background-color: rgba(48, 63, 62, 0.5);
    border-radius: 20px;
}


.centredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 20px;
}

.flex-container li {
    list-style: none;
    gap: 30vw;
}


canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.game-container {
    text-align: center;
    margin-bottom: 5vw;
} 

  nav {
    background-color: #015521;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    width: 100%;
  }
  
  nav a {
    text-decoration: none;
    margin: 0 20px;
    color: #40d6fc;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #dfded4;
    background-color: #013314;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .search-bar {
    margin-left: auto;
    color: #40d6fc
  }
  
  label {
    margin-right: 5px;
    color: #40d6fc
  }
  
  h1,
  h2,
  h3 {
    display: inline-block;
    padding: 10px;
    background-color: #015521;
    color: #40d6fc;
    font-family: 'Garamond', serif;
    font-weight: 700;
    border-radius: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  p,
  ul,
  ol {
    font-family: 'Garamond', serif;
    font-weight: 400;
    color: white; /* Sets text colour to white */
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .flex-item {
    flex-basis: 30%;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .highlighted {
    border: 2px solid #f00;
  }
  
  /* Flexbox for portfolio and mission */
  
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .section-container section {
    margin-bottom: 30px;
  }
  
  
  footer {
    color: #40d6fc;
    background-color: #015521;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  
   .table-striped {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(1, 85, 33, 0.5);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.3);
    color:#40d6fc;
    --bs-table-striped-color: #40d6fc;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #bfc0c0;
  }
  
  thead th {
    background-color: #2d3142;
    color: #40d6fc;;
  }
  
  tbody td:nth-child(3) {
    font-weight: bold;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }