li {
    color: darkgreen;
    font-size: 1.5rem;
}

p, h3{
    font-size: 1.2rem;
    font-family: 'Garamond', serif;
}

/* id selector */
#search {
    background-color: darkgoldenrod;
    color: darkviolet;
    width: 50vw;
}

/* class selectors */

.btn {

}

/* wildcard selectors */

* {
    /* margin: 0px;
    padding: 0px; */
}

.heading {    
    text-align: center;
}

body {
    background-color: lightblue;
    color: rgb(84, 0, 139);
    font-family: 'Garamond', serif;
    font-size: 1rem;
    background-image:url("https://st.depositphotos.com/2143989/2630/v/600/depositphotos_26301339-stock-illustration-abstract-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 80vw;
    margin: auto;

}

.centredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30vw;
}

.flex-container li {
    list-style: none;
}